<div class="w-full grid lg:gap-4 grid-cols-1 lg:grid-cols-[240px_minmax(0,1fr)_300px]">
  <app-posts-filter
    [selectedFilter]="postFacadeService.currentFilter()"
    (filterClick)="postFacadeService.handleFilterChange({ newFilter: $event })"
    [loadingFilter]="postFacadeService.activeLoadingFilter()"
  ></app-posts-filter>
  <div class="space-y-4">
    <div>
      <app-create-post [myData]="userFacade.user()"></app-create-post>
    </div>
    <div class="space-y-4">
      @if (postFacadeService.createPostLoading()) {
        <div>
          <app-create-post-loading
            [data]="postFacadeService.uploadingPostData()"
          ></app-create-post-loading>
        </div>
      }
      @if (postFacadeService.isPostLoading()) {
        <app-posts-loading></app-posts-loading>
      } @else {
        @if (postFacadeService.posts().length === 0) {
          <app-empty-posts></app-empty-posts>
        } @else {
          @for (post of postFacadeService.posts(); track $index) {
            <div>
              <app-post-card [post]="post"></app-post-card>
            </div>
          }
          @if (postFacadeService.hasMorePosts()) {
            <div
              appNearEnd
              (nearEnd)="postFacadeService.fetchPosts(postFacadeService.currentFilter())"
            ></div>
          }
          @if (postFacadeService.isNextPostsPageLoading() && postFacadeService.hasMorePosts()) {
            <app-loading-more></app-loading-more>
          }
          @if (!postFacadeService.hasMorePosts()) {
            <div class="flex min-h-10 items-center justify-center">
              <span class="text-xs font-semibold text-slate-500 dark:text-slate-400"
                >You reached the end</span
              >
            </div>
          }
        }
      }
    </div>
  </div>
  <aside class="hidden h-fit lg:sticky lg:top-15 lg:block">
    <app-follow-suggestions></app-follow-suggestions>
  </aside>
</div>
